body
/** original css was missing opening bracket**/
{
 font-size: 14px;
}

nav {
  /** background-color was missing the dash**/
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;


section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  /** font-family was missing colon **/
  font-family: sans-serif;
  font-size: 2em;
}

h3.example {
  padding-top: 30px;
  /** text-align was missing a colon **/
  text-align: center
}
/** deleted the h3 since it was already mentioned on line 27 **/
{
  font-size: 21px;
}

.element {
  background-color: #Green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

div.element.checkpoint {
  background-color: #0531FA;
}
